---
import Header from "../../components/Header.astro"
import { projectsLists } from "../../data/projects";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
</head>
<body>
    <Header />
    <div class="h-full w-full flex justify-center items-center">
        <div class="w-full h-full flex justify-center items-center">
            <div class="grid grid-cols-2 gap-10 p-20">
                {
                    projectsLists.map((e) => (
                        <div class="border border-solid border-black rounded-lg w-80">
                            <div class="flex items-center justify-center my-2 space-x-44">
                                <h1 class="font-semibold">{e.name}</h1>
                                <h3>{e.date}</h3>
                            </div>
                            <div class="border-t border-gray-300 p-4">
                                <p class="mb-4">{e.description}</p>
                                <div class="flex flex-col space-y-4">
                                    <a href={e.url} class="text-blue-500 underline">Source</a>
                                    <div class="flex flex-wrap space-x-4">
                                        {e.tech.map((tech) => (
                                            <span class="bg-gray-200 text-center rounded px-2 py-1 overflow-wrap break-words">{tech}</span>
                                        ))}
                                    </div>
                                </div>
                            </div>
                        </div>
                    ))
                }
            </div>
        </div>
    </div>
</body>
</html>